.NavBar {
  background: #f3da3a;
  color: #554d42;
  font-size: 70px;
  padding: 100px;
  text-align: center;
}

.bttn:hover {
  border-color: #fff;
}
.main-button {
  text-align: center;
}
.placeinfo {
  font-size: 23px;
  color: #554d42;
}
.ratting {
  display: inline;
}
.placepic {
  display: inline;
}
