.NavBar {
  background: #5aac96;
  color: wheat;
  font-size: 70px;
  padding: 100px;
  text-align: center;
}
.backgroungpic {
  backgroundimage: url(${Background});
}
.map-contier {
  border: 2px black solid;
  height: 20%;
  width: 30%;
}
